<?xml version="1.0" ?>

<module xmlns="urn:jboss:module:1.1" name="ext-cert-login-module">

    <resources>
        <resource-root path="extended-certificate-login-module.jar"/>
    </resources>

    <dependencies>
        <module name="org.jboss.as.security">
		<imports>
			<include path="jboss-as-security-7.5.0.Final-redhat-21.jar" />
		</imports>
	</module>
	<module name="org.picketbox">
                <imports>
                        <include path="picketbox-4.1.1.Final-redhat-1.jar" />
                </imports>
		<imports>
                        <include path="picketbox-infinispan-4.1.1.Final-redhat-1.jar" />
                </imports>
		<imports>
                        <include path="picketbox-commons-1.0.0.final-redhat-3.jar" />
                </imports>

        </module>
        <module name="javax.api"/>
    </dependencies>
</module>
