<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<!-- One of the way of activating REST Servises is adding these lines, the 
		server is responsible for adding the corresponding servlet automatically. 
		If the src folder, org.jboss.as.quickstarts.rshelloworld.HelloWorld class 
		has the Annotations to receive REST invocation -->
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>


	<security-constraint>
		<web-resource-collection>
			<web-resource-name>HelloWorld Secure URLs</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<!-- The key to getting security context principal to work is having the 
			auth constraint tag under here with the role tag whether roles arelisted 
			or not does not matter -->
		<auth-constraint>
			<role-name>webuser</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>CLIENT-CERT</auth-method>
	</login-config>
	<security-role>
		<role-name>webuser</role-name>
		
	</security-role>
</web-app>
